.modal {
	display: none;
	background-color: #7f7f7f;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	left: 0;
}

.board {
	display: flex;
	justify-self: center;
	gap: 100px;
	padding: 20px;
}

.column {
	background-color: #f0f0f0;
	border-radius: 8px;
	border: 1px solid #dddddd;
	width: 300px;
	min-width: 400px;
	padding: 15px;
}

.task-list {
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
}

.modal-content {
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 10% auto;
	padding: 20px;
	width: 400px;
}

.fade-out {
	animation: fadeEffct 0.5s forwards;
}